
@{
    ViewBag.Title = "New Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-8 col-md-8 mb-10">
    <h3 class="mb-30">@ViewBag.Title</h3>
    <form method="post" action="/Company/CompanyRegister">
        <div class="mt-10">
            <input type="text" name="Name" placeholder="Name"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required
                   class="single-input">
        </div>
        <div class= "mt-10">
            <input type="text" name="Address" placeholder="Address" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Address'" required class="single-input">
        </div>
        <div class="mt-10">
            <input type="email" name="Email" placeholder="Email"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required
                   class="single-input">
        </div>
        <div class="mt-10">
            <input type="number" name="Phone" placeholder="Phone"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" required
                   class="single-input-primary">
        </div>
        <div class="mt-10">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </form>
</div>