<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@ViewBag.Title - Job Finder - Get your dream job!</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon.ico">
<!-- CSS -->
<link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/Assets/css/flaticon.css">
<link rel="stylesheet" href="~/Assets/css/price_rangs.css">
<link rel="stylesheet" href="~/Assets/css/slicknav.css">
<link rel="stylesheet" href="~/Assets/css/animate.min.css">
<link rel="stylesheet" href="~/Assets/css/magnific-popup.css">
<link rel="stylesheet" href="~/Assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="~/Assets/css/themify-icons.css">
<link rel="stylesheet" href="~/Assets/css/slick.css">
<link rel="stylesheet" href="~/Assets/css/nice-select.css">
<link rel="stylesheet" href="~/Assets/css/style.css">
